.jumbotron {
    margin: 0% auto;
    max-width: 445px;
    margin-top: 10%;
    padding-top: 10px;
    background-color: darkgray;
    opacity: 0.8;
}

body {
    font-family: 'Rock Salt', cursive;
    background-image: url(pexels-photo-259165.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4 {
    border-bottom: 4px solid black;
    padding-bottom: 25px;
}

.modal-content {
    background-image: url(buy-cash-coins-9660.jpg)
}

.modal-footer {
    background-color: midnightblue;
}

@media (max-width: 480px) {
    .display-4 {
        font-size: x-large
    }
    ;
    #btn btn-primary {
        width: 50%
    }
    ;
    #btn btn-primary {
        font-size: 29%
    }
    ;
}

.hide {
    display: none;
}

.pad-sides {
    padding: 0 32px;
}

#pad-less {
    padding: 0 16px;
}

#map-div {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.list-group {
    width: 80%;
    margin: 0 auto;
    height: 80%;
}
 #column-group{
     font-family: Merienda, cursive;
 }
.restaurant{
    width: 40%;
}

.list-group-item {
    background-color: darkgrey;
}
