body {
    font-family: 'Varela', cursive;
    background-image: url(bgimage.jpg);
}

.container-row {
    max-width: 95%;
}

.jumbotron {
    margin: 0 auto;
    max-width: 445px;
    margin-top: 5%;
    padding-top: 10px;
    background-color: cadetblue;
    color: ghostwhite;
    opacity: 0.79;
    -webkit-filter: drop-shadow(8px 8px 10px gray); 
    filter: drop-shadow(8px 8px 10px gray);
    align-self: auto;
}

a, a:hover, a:visited {
    color: #fff;
}

.past-search:hover { 
    border: 1px solid #ddd;
    background-color: #dcffdc;
}

.display-4 {
    border-bottom: 4px solid black;
    padding-bottom: 25px;
}

.vertical-pad {
    padding: 10px 0;
}

.modal-footer {
    background-color: midnightblue;
}

.modal-header {
    padding-left: 10%;
}

@media (max-width: 480px) {
    .display-4 {
        font-size: x-large;
    }
    
    #btn btn-primary {
        width: 50%;
    }
    
    #btn btn-primary {
        font-size: 29%;
    }
    
}

.horiz-center {
    margin: 0 auto;
}

.hide {
    display: none;
}

.pad-sides {
    padding: 0 32px;
}

#pad-less {
    padding: 0 16px;
}

#map-div {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: fixed;
}

.list-group {
    width: 80%;
    margin: 0 auto;
    height: 80%;
}

#column-group{
    font-family: 'Balthazar', cursive;
}

#navbarDropdownMenuLink {
    color: black;
    background-color: cadetblue;
    margin: 0 auto;
    opacity: 0.70;
    font-size: 12pt;
    -webkit-filter: drop-shadow(8px 8px 10px gray); 
    filter: drop-shadow(8px 8px 10px gray);
}

#dropdown{
    color: black;
    background-color: cadetblue;
    opacity: 0.80;
    -webkit-filter: drop-shadow(8px 8px 10px gray); 
    filter: drop-shadow(8px 8px 10px gray);
}

#infoboxTitle{
    font-family: 'Balthazar', cursive;
    font-size: 12pt;
}

#infoboxDescription{
    font-size: 12pt;
    font-family: 'Balthazar', cursive;
}

.search{
    font-family: 'Balthazar', cursive;
    border: 1px, black;
    font-size: 14px; 
}

.new-search{
    color: black;
    background-color: cadetblue;
    margin: 0 auto;
    opacity: 0.80;
    padding: .5rem 1rem;
    float: left;
    border: none;
    font-size: 12pt;
    -webkit-filter: drop-shadow(8px 8px 10px gray); 
    filter: drop-shadow(8px 8px 10px gray);
}

#text-box{
    color: black;
    opacity: .76;
}
 
.width{
    max-width: 100%;
}